parameter_defaults:
  EnableFencing: true
  FencingConfig:
    devices:
{% for result in mac_addresses.results %}
      - agent: fence_ipmilan
        host_mac: "{{ result.stdout }}"
        params:
          ipaddr: "{{ (libvirt_networks | selectattr('name', 'equalto', 'br-provisioning') | first).ip_address }}"
          ipport: '{{ result.item.port }}'
          lanplus: true
          login: admin
          passwd: "{{ vbmc_password }}"
{% endfor %}