parameters:
  rhnuser: {{ rhnuser | quote }}
  rhnpassword: {{ rhnpassword | quote }}

director:
  image: "rhel9"
  memory: 24048
  numcpus: 8
  disks:
    - size: {{ disk_size_root }}
      interface: "sata"
  nets: 
{% for net in libvirt_networks | map(attribute='name') | union(['default']) | list %}
    - {{ net }}
{% endfor %}