parameters:
  rhnuser: {{ rhnuser | quote }}
  rhnpassword: {{ rhnpassword | quote }}

{% for instance in vbmc_controller_instances %}
{{ instance.name }}:
  image: "rhel9"
  memory: 32768
  numcpus: 8
  disks:
    - size: {{ disk_size_root }}
      interface: "sata"
{% for i in range(num_ceph_disks | default(3)) %}
    - size: {{ disk_size_ceph }}
      interface: "sata"
{% endfor %}
  nets:
{% for net in libvirt_networks | map(attribute='name') | list %}
    - {{ net }}
{% endfor %}
{% endfor %}